{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>About</h1>
    <p>Welcome to my Student Journal! This repository is a collection of my work and learnings throughout my Master's in
        Applied Data Science from 2023 to 2025.</p>
    <h2>Overview</h2>
    <p>This journal is a reflection of my journey through the world of data science. It contains notes, code snippets,
        and projects that I've worked on during my Master's program. The notes cover a wide range of topics, from
        statistical distributions to data analysis techniques.</p>
    <h2>Motivation</h2>
    <p>I created this journal to document my progress and to share my learnings with others. It is loosely based on the
        <a href="https://zettelkasten.de/" target="_blank">Zettelkasten</a> method of note-taking. I hope that this
        journal will be a useful
        resource for others who are interested in data science.
    </p>
</div>
{% endblock content %}