{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Page Not Found</h1>
    <p>Oops! The page you are looking for could not be found.</p>
    <p>Possible Reasons:</p>
    <ol>
        <li><strong>Incorrect URL:</strong> Please double-check the URL for typos.</li>
        <li><strong>Outdated Link:</strong> The page may have been moved or deleted.</li>
        <li><strong>Technical Glitch:</strong> There might be a temporary issue with the website.</li>
    </ol>
    <p>What You Can Do:</p>
    <ul>
        <li><strong>Go Back:</strong> Use the back button in your browser to return to the previous page.</li>
        <li><strong>Homepage:</strong> Visit our Homepage to navigate through our site.</li>
        <li><strong>Contact Us:</strong> If you believe this is an error, please contact us for assistance.</li>
    </ul>
    <p>We apologize for any inconvenience. Thank you for visiting!</p>
</div>
{% endblock content %}