<footer class="footer">
    <ul class="list">
        <li class="list__item list__item--bullet"><a class="link"
                href="mailto:koen@vansterik.dev">koen@vanesterik.dev</a></li>
        <li class="list__item list__item--bullet"><a class="link" href="https://github.com/vanesterik">GitHub</a></li>
        <li class="list__item list__item--spacer"><a class="link"
                href="https://www.linkedin.com/in/kdesterik/">LinkedIn</a></li>
    </ul>
    <div class="copyright">© 2023 Koen Dirk van Esterik B.V. All rights reserved</div>
</footer>