<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>{% block title %}{{ title }}{% endblock %} - SJ_KVE</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
	<script>
		MathJax = {
			tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] }
		};
	</script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>

<body>
	<div class="layout stack--vertical">
		{% include 'includes/header.html' %}
		<main class="main">
			{% block content %}{% endblock %}
		</main>
		{% include 'includes/footer.html' %}
	</div>
</body>

</html>